@import "../../App.module.css";

.PasswordContainer {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.Heading {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 20px;
}

.FormGroup {
    margin-bottom: 15px;
}

.PrimaryButton {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-size: 1rem;
}