.FormContainer {
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.ToggleText {
    text-align: center;
    margin-top: 1rem;
}

.ToggleLink {
    color: var(--accent);
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.ToggleLink:hover {
    color: var(--primary);
}