@import "../../App.module.css";

.Heading {
    font-size: 2rem;
}

.TaskContainer {
    overflow-x: hidden;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.GroupContainer {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.GroupHeading {
    margin-top: 10px;;
    text-align: left;
    margin-left: 0;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-primary);
}

.TaskRow {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.TaskCol {
    width:100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.TaskCard {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--color-surface);
}

.TaskCard:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 10px var(--color-accent);
}

.TaskCardBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.TaskTitle {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 5px;
    text-transform: capitalize;
}

.TaskCategory {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-secondary);
    text-transform: capitalize;
}

.TaskDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.75rem;
}

.TaskStatus {
    color: var(--text-muted);
    font-weight: 500;
    text-transform: capitalize;
}

.TaskPriority {
    color: var(--text-muted);
    font-weight: 500;
    text-transform: capitalize;
}

.TaskDueDate {
    color: var(--text-muted);
    font-weight: 500;
    text-transform: capitalize;
}

.TaskLink {
    all: unset;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.TaskLink:hover {
    all: unset;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;

}



@media (max-width: 992px) {
    .TaskTitle {
        font-size: 0.6rem;
    }

    .TaskDetails,
    .TaskCategory,
    .TaskStatus,
    .TaskPriority,
    .TaskDueDate {
        font-size: 0.5rem;
    }
}

@media (max-width: 768px) {
    .TaskTitle {
        font-size: 0.9rem;
    }

    .TaskDetails,
    .TaskCategory,
    .TaskStatus,
    .TaskPriority,
    .TaskDueDate {
        font-size: 0.75rem;
    }
}

@media (max-width: 426px) {

    .TaskStatus,
    .TaskPriority,
    .TaskCategory {
        display: none;
    }
}