@import "../../App.module.css";

.MainContainer {
    max-width: 700px;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* Heading styles and responsiveness */
.Heading {
    font-size: 2rem;
    text-transform: capitalize;
    padding-top: 1rem;
    text-align: center;
}

/* Reduce size for small screens */
@media (max-width: 768px) {
    .Heading {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .Heading {
        font-size: 1.2rem;
    }
}

.ColButton {
    display: flex;
    justify-content: center;
    max-width: 200px;
}