/* Make modal larger */
.CustomModal {
    max-width: 600px !important;
}

.ModalBody {
    padding: 1rem !important;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}