/* Heading styles and responsiveness */
.MainContainer {
    width: 70%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

@media (max-width: 768px) {
    .MainContainer {
        width: 100%;
    }
}

.Heading {
    font-size: 2rem;
    text-transform: capitalize;
    padding-top: 1rem;
}

/* Reduce size for small screens */
@media (max-width: 768px) {
    .Heading {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .Heading {
        font-size: 1.2rem;
    }
}