.SignInUpContainer {
    max-height: 100vh;
    margin-top: 20vh;
    display: flex;
    overflow: hidden;
    padding-top: 4rem;
    margin: 0;
}

.RowContainer {
    background-color: #252525;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: auto;
    padding-right: 1.5rem;
}

.SignupImage {
    border-radius: 10px;
    width: 100%;
}

.FormTitle {
    color: #E0E0E0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 1rem;
}

@media (max-width: 425px) {
    .formTitle {
        font-size: 1.5rem;
    }
}

/* form controls */

.FormGroup {
    margin-bottom: 25px;
}

.FormControl {
    background-color: #E0E0E0;
    color: #333333;
    border: 1px solid #CCCCCC;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    width: 100% !important;
    max-width: 100% !important;
}

.FormControl:hover {
    background-color: #FFFFFF;
}

.FormControl:focus {
    background-color: #FFFFFF;
    border-color: #4A90E2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    outline: none;
}

/* sign in link */
.SignInLink {
    color: #B0B0B0 !important;
    font-size: 1rem;
    text-decoration: none !important;
    transition: color 0.3s ease-in-out;
    text-align: center;
    display: block;
    padding-bottom: 1rem;
    padding-top: 10px;
}

.SignInText {
    color: #4A90E2;
    font-weight: bold;
    text-decoration: none !important;
    transition: text-decoration 0.3s ease-in-out;
}

.SignInLink:hover .signInText {
    text-decoration: underline !important;
}

@media (max-width: 768px) {
    .FormControl {
        padding: 0 !important;
        font-size: 1rem !important;
    }
}