.TaskContainer {
    width: 100%;
}

.TaskCard {
    background-color: #252525;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
}

.TaskTitle {
    color: #E0E0E0;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 1rem;
}