.MainContainer {
    margin-top: 3rem;
    height: calc(100vh - 3rem);
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
}

.MainRow {
    width: 100%;
    display: flex;
    margin:0;
}

.SideBar {
    height: 100%;
    flex-shrink: 0;
}

.MainContent {
    background-color: var(--color-secondary-surface);
    flex-grow: 1;
    height: 100%;
    padding: 1rem;
    width:100%;
}