/* Primary Button */
.PrimaryButton {
    background-color: #4A90E2;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

.PrimaryButton:hover {
    background-color: #2563EB;
}

.ToggleButton {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--color-text);
    width: 20px;
    text-decoration: none;

}

.ToggleButton:hover {
    color: var(--color-accent);
    cursor: pointer;
    text-decoration: none;
}

.ToggleButton.active {
    color: var(--color-accent);
    font-weight: bold;
}

.ToggleButton:focus,
.ToggleButton:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    text-decoration: none !important;
}